.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
    /* Center text inside divs */
}

.cart-item img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #000;
}

.cart-item div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/* Styles for the increment and decrement buttons */
.cart-item button {
    background-color: #f57224;
    color: white;
    border: none;
    padding: 5px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* Styles for the quantity field */
.cart-item input[type="number"] {
    background-color: #f0f0f0;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    width: 60px;
    color: #000;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cart-item h2 {
    margin: 5px 0;
}
.heading {
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
